<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <span class="navbar-text">Todos [{{vm.todos.length}}]</span>
        <a class="btn btn-primary navbar-btn"
           title="Create new"
           ui-sref="td.generic({action:'create'})">Create new
        </a>
    </div>
</nav>
<section class="container todos">
    <div ng-if="vm.todos.length">
        <td-todos todos="vm.todos" columns="vm.columns"></td-todos>
    </div>
    <div ng-if="!vm.todos.length">
        Currently no data to be shown...
    </div>
</section>